<template>
  <div class="doc-code">
    <pre class="language-html"
      ><code v-if="needRender" v-html="highlight(data)"></code
      ><code v-else>{{ data }}</code>
    </pre>
    <button class="button button_plain doc-copyButton" ref="copyButton" @click="copy">Копировать код</button>
  </div>
</template>

<script>

  export default {
    props: {
      data: String,
      needRender: Boolean
    },

    methods: {
      highlight(code) {
        return window.Prism.highlight(code, window.Prism.languages.markup, 'markup');
      },

      copy() {
        const codeStorage = document.createElement('textarea');
        codeStorage.classList.add('visually-hidden')
        codeStorage.value = this.data;
        document.body.appendChild(codeStorage);
        codeStorage.select();
        document.execCommand('copy');
        codeStorage.remove();
        this.$refs.copyButton.textContent = 'Скопировано';
        setTimeout(() => {
          this.$refs.copyButton.textContent = 'Копировать код'
        }, 3000);
      },
    },
  }
</script>

<style lang="css">

  .doc-code {
    position: relative;
  }

  .doc-code:not(:hover) .doc-copyButton {
    opacity: 0;
    transition-duration: 250ms;
  }

  .doc-code:not(:last-child) {
    margin-bottom: 20px;
  }

  .doc-copyButton {
    position: absolute;
    transition: opacity 100ms linear;
    padding: 10px 15px;
    top: 0;
    right: 0;
  }

  /* PrismJS 1.23.0
  https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup */
  /**
  * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
  * Based on https://github.com/chriskempson/tomorrow-theme
  * @author Rose Pritchard
  */

  .doc .token.tag {
    display: inline;
    background: transparent;
    padding: 0;
  }

  code[class*="language-"],
  pre[class*="language-"] {
    color: #000;
    background: none;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 1em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
  }

  pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
  code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
    background: #b3d4fc;
  }

  pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
  code[class*="language-"]::selection, code[class*="language-"] ::selection {
    background: #b3d4fc;
  }

  /* Code blocks */
  pre[class*="language-"] {
    padding: 1em 1.5em;
    margin: .5em 0;
    overflow: auto;
  }

  :not(pre) > code[class*="language-"],
  pre[class*="language-"] {
    background: #fff;
    border: 1.5px solid #999;
    border-radius: 8px;

  }

  /* Inline code */
  :not(pre) > code[class*="language-"] {
    padding: .1em;
    border-radius: .3em;
    white-space: normal;
  }

  .token.comment,
  .token.prolog,
  .token.doctype,
  .token.cdata {
    color: slategray;
  }

  .token.punctuation {
    color: #999;
  }

  .token.namespace {
    color: #080;
  }

  .token.property,
  .token.tag,
  .token.boolean,
  .token.number,
  .token.constant,
  .token.symbol,
  .token.deleted {
    color: #905;
  }

  .token.selector,
  .token.attr-name,
  .token.string,
  .token.char,
  .token.builtin,
  .token.inserted {
    color: #558000;
  }

  .token.operator,
  .token.entity,
  .token.url,
  .language-css .token.string,
  .style .token.string {
    color: #9a6e3a;
    /* This background color was intended by the author of this theme. */
    background: hsla(0, 0%, 100%, .5);
  }

  .token.atrule,
  .token.attr-value,
  .token.keyword {
    color: #07a;
  }

  .token.function,
  .token.class-name {
    color: #DD4A68;
  }

  .token.regex,
  .token.important,
  .token.variable {
    color: #e90;
  }

  .token.important,
  .token.bold {
    font-weight: bold;
  }
  .token.italic {
    font-style: italic;
  }

  .token.entity {
    cursor: help;
  }
</style>
