<template>
  <div class="doc-module">
    <div :id="hash" ref="scrollPoint" class="navigation__target" style="height:1px"><!-- hotfix with style --></div>
    <h2 class="content__subtitle doc-title">{{ name || "Unknown component" }} <template v-if="link">| <a :href="link" class="link">Дизайн</a></template></h2>
    <section class="card">
      <div
        v-if="tabs.length > 1"
        class="tabs tabs_in-top"
        :class="{'tabs_open': showTabsDD}">
        <button class="tabs__preview" @click="showTabsDD = !showTabsDD">{{ tabs[activeTab].name }}</button>
        <div class="tabs__list">
          <button
            v-for="(tab, index) in tabs"
            class="tabs__item content_clip"
            :class="{'tabs_active' : index === activeTab}"
            :key="tab.hash"
            @click="changeTab(index);"
            >{{ tab.name || "unknown tab" }}</button>
        </div>
      </div>

      <v-tab
        :isActiveModule="isActive"
        :infoHTML="tabs[activeTab].info"
        :viewHTML="tabs[activeTab].view"
        :viewHeight="tabs[activeTab].viewHeight"
        :codes="tabs[activeTab].codes"
        :hash="tabs[activeTab].hash"
      />
    </section>
  </div>
</template>

<script>

  const hashes = location.hash.substring(1).split("&");

  import vTab from './tab.vue'

  export default {
    components: { vTab },

    props: {
      hash: String,
      name: String,
      link: String,
      tabs: Array,
      isActive: Boolean
    },

    data() {
      return {
        activeTab: 0,
        showTabsDD: false,
      }
    },

    methods: {
      changeTab (number) {
        this.activeTab = number;
        location.hash = this.hash + '&' + this.tabs[this.activeTab].hash;
      }
    },

    mounted() {
      if(hashes[0] === this.hash) {
        this.activeTab = this.tabs.findIndex(tab => tab.hash === hashes[1]);
        this.$refs.scrollPoint.scrollIntoView();
      }
    },

    watch: {
      isActive: {
        immediate: true,
        handler(current) {
          if(current) {
            setTimeout(() => {
              if(this.isActive && this.$refs.scrollPoint) {
                let target = document.activeElement;
                this.$refs.scrollPoint.classList.add('doc-module__rx');
                this.$refs.scrollPoint.classList.remove('navigation__target');
                this.$refs.scrollPoint.style.top = window.scrollY + 'px';
                window.location.hash = this.hash + '&' + this.tabs[this.activeTab].hash;
                this.$refs.scrollPoint.classList.add('navigation__target');
                this.$refs.scrollPoint.classList.remove('doc-module__rx');
                this.$refs.scrollPoint.style.top = '';
                if(target.getBoundingClientRect().bottom > 0) target.focus();
              }
            }, 2000);
          }
        }
      }
    }
  }
</script>

<style lang="css">
  .doc-module {
    margin-bottom: 50px;
    /* overflow: hidden; */
  }

  .doc-module .doc-tab:first-child {
    margin-top: 0;
  }

  .doc-module__rx {
    position: absolute;
    visibility: hidden;
  }
</style>
