<template>
  <nav class="navigation" :class="{'navigation_open': showNavsDD}">
    <button class="navigation__preview" @click="showNavsDD = !showNavsDD" aria-expanded="false" role="combobox" aria-haspopup="listbox">
      <template v-for="item in modules">
        <template v-if="item.hash === activeItem">
          {{ item.name }}
        </template>
      </template>
    </button>

    <div class="navigation__list">
      <a
        v-for="item in modules"
        class="navigation__item"
        @click="showNavsDD = false"
        :key="item.hash"
        :href="`#${item.hash}`"
        :class="{'navigation__item_active' : item.hash === activeItem}"
        v-html="filter
          ? item.name
              .split(filter)
              .join(`<span class='content_important'>${filter}</span>`)
          : item.name"
      ></a>
    </div>
  </nav>
</template>

<script>
  export default {

    props: {
      modules: [Array, Object],
      filter: [String],
      activeItem: [String]
    },

    data() {
      return {
        showNavsDD: false
      }
    },
  }
</script>
