<template>
  <div :id="hash" class="tabs__content tabs_active doc-tab">
    <v-info v-if="infoHTML" :html="infoHTML" />
    <v-view
      v-if="viewHTML"
      :html="viewHTML"
      :height="viewHeight"
      :needRender="doRender"
    />
    <template v-if="codes">
      <v-code
        v-for="(code, index) in codes"
        :key="index"
        :data="code"
        :needRender="doRender"
      />
    </template>
  </div>
</template>

<script>
  import vInfo from './info.vue';
  import vView from './view.vue';
  import vCode from './code.vue';

  export default {
    components: { vInfo, vView, vCode },

    data() {
      return {
        doRender: false
      }
    },

    props: {
      isActiveModule: Boolean,
      infoHTML: String,
      viewHTML: String,
      viewHeight: String,
      hash: String,
      codes: {
        type: Array,
        default() {
          return []
        }
      },
    },

    computed: {
      checkArray() {
        return this.codes.length > 1;
      },
      tag() {
        return this.checkArray ? 'ul' : 'div';
      },
      tagChildren() {
        return this.checkArray ? 'li' : 'div';
      }
    },

    watch: {
      isActiveModule: {
        immediate: true,
        handler(current) {
          if(current) {
            setTimeout(() => {
              if(this.isActiveModule) {
                this.doRender = true;
              }
            }, 500);
          } else {
            this.doRender = false;
          }
        }
      }
    }
  }
</script>
