<template>
  <div
    class="doc-view"
    :class="{ 'doc-view_done': needRender }"
    :style="{ height }"
  >
    <button class="button button_plain doc-previewButton" @click="openPopup">
      Открыть в новом окне
    </button>
    <iframe v-if="needRender" :srcdoc="pasteHTML()" />
  </div>
</template>

<script>
export default {
  props: {
    html: String,
    height: String,
    needRender: Boolean
  },

  methods: {

    openPopup() {
      if (!window.exampleWindow || window.exampleWindow.closed) {
        window.exampleWindow = window.open(
          "about:blank",
          "example",
          "resizable,scrollbars,status=no,location=no"
        );
      }

      window.exampleWindow.document.open();
      window.exampleWindow.document.write(this.pasteHTML());
      window.exampleWindow.document.close();
      window.exampleWindow.focus();
    },

    pasteHTML() {
      return (
        '<head><script src="scripts/jquery.js"></scr' +
        'ipt><script src="scripts/utils.js"></scr' +
        'ipt><script src="scripts/uikit.js"></scr' +
        'ipt><script src="scripts/underscore.js"></scr' +
        'ipt><link href="uikit/common.css" rel="stylesheet">' +
        '</head><body style="padding:15px;display:block">' +
        this.html +
        "</body>"
      );
    },
  },
};
</script>

<style lang="css">
.doc-view {
  margin-bottom: 30px;
  min-height: 320px;
  height: 320px;
  min-width: 320px;
  max-width: 100%;
  border-radius: 8px;
  border: 1px solid #e8e8e8;
  resize: both;
  overflow: hidden;
  background-color: #f9f9fa;
  position: relative;
}

.doc-view:not(.doc-view_done)::before {
  content: "Загрузка...";
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.doc-view > iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
}

.doc-view:not(:hover) .doc-previewButton {
  opacity: 0;
  transition-duration: 250ms;
}

.doc-previewButton {
  position: absolute;
  transition: opacity 100ms linear;
  padding: 10px 15px;
  top: 0;
  right: 0;
}
</style>
