<template>
  <div class="doc">
    <div class="row row_middle mb-2">
      <div class="col-lg-4 col-12">
        <h1 class="content__title doc__title mb-0">
          UI-Kit сайта
          <a
            href="https://trudvsem.ru/"
            class="link" target="_blank"
            rel="noopener">trudvsem.ru</a>
        </h1>
        <p class="content__paragraph content_small">
          Воспользоваться старой версией можно по <a href="./doc.html" class="link">ссылке</a>
        </p>
      </div>
      <div class="col-lg-8 col">
        <div class="tabs" :class="{'tabs_open': showTabs}">
          <button class="tabs__preview" @click="showTabs = !showTabs" aria-expanded="false" role="combobox" aria-haspopup="listbox">{{ type }}</button>
          <div class="tabs__list">
            <button class="tabs__item" :class="{'tabs_active' : this.type === 'ui-kit'}" type="button"  @click="changeType('ui-kit')">ui-kit</button>
            <button class="tabs__item" :class="{'tabs_active' : this.type === 'ui-special'}" type="button" @click="changeType('ui-special')">ui-special</button>
            <button class="tabs__item" :class="{'tabs_active' : this.type === 'ui-infoblocks'}" type="button" @click="changeType('ui-infoblocks')">ui-infoblocks</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="main__aside-neighbour" ref="neighbour">
        <template v-for="item in filteredModules">
          <v-module
            ref="module"
            :key="item.hash"
            :hash="item.hash"
            :name="item.name"
            :link="item.link"
            :tabs="item.tabs"
            :isActive="item.hash === currentModule"
          />
        </template>
        <div class="card" v-if="modules.length && !filteredModules.length">
          <h2 class="content__subtitle content_center my-1">
            По запросу "{{ filter }}" ничего&nbsp;не&nbsp;нашлось.<br />
            Обратите внимание - поиск ведётся только по названиям компонентов.
          </h2>
        </div>
      </div>

      <div class="main__aside" ref="wrapper">
        <div class="main__aside-container" ref="container">
          <input class="search__doc-input input__control mb-1" ref="search" type="search" name="search" placeholder="Название компонента" v-model="filter" />
          <v-sidebar
            :modules="filteredModules"
            :filter="filter"
            :activeItem="currentModule"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import vModule from "./components/module.vue";
import vSidebar from "./components/sidebar.vue";

export default {
  components: { vModule, vSidebar },

  data() {
    return {
      map: {
        "q": "й",
        "w": "ц",
        "e": "у",
        "r": "к",
        "t": "е",
        "y": "н",
        "u": "г",
        "i": "ш",
        "o": "щ",
        "p": "з",
        "[": "х",
        "{": "Х",
        "]": "ъ",
        "}": "Ъ",
        "`": "ё",
        "~": "Ё",
        "a": "ф",
        "s": "ы",
        "d": "в",
        "f": "а",
        "g": "п",
        "h": "р",
        "j": "о",
        "k": "л",
        "l": "д",
        ";": "ж",
        ":": "ж",
        "'": "э",
        "\"": "э",
        "z": "я",
        "x": "ч",
        "c": "с",
        "v": "м",
        "b": "и",
        "n": "т",
        "m": "ь",
        ",": "б",
        "<": "б",
        ".": "ю",
        ">": "ю",
      },
      setPositionRaf: null,
      modules: [],
      filter: "",
      currentModule: "",
      scrollProgress: null,
      Z: 0,
      type: "ui-kit",
      showTabs: false
    };
  },

  created() {
    // Built-in watcher
    const watchParams = location.search.substring(1).split("=");
    const getData = () => {
      this.makeReq(this);
    };
    const param = parseInt(watchParams[1]);
    const interval = isNaN(param) ? 3333 : Math.max(500, param);

    getData();

    if (watchParams[0] == "watch") {
      setInterval(getData, interval);
    }
  },

  mounted() {
    this.setPositionRaf = this.bindRaf(this.setPosition);
    window.addEventListener("scroll", this.handleScroll);
    this.$refs.search.focus();
  },

  destroyed() {
    window.removeEventListener("scroll", this.handleScroll);
  },

  computed: {
    filteredModules() {
      let _self = this
      return this.modules.length
        ? this.modules.filter(
            function(module) {
              const type = _self.hasType() ? module.type === _self.type : true
              return module.name && (
                  module.name.toLowerCase().indexOf(_self.filter.toLowerCase()) !== -1 ||
                  module.name.toLowerCase().indexOf(_self.convertLayout(_self.filter.toLowerCase())) !== -1
              ) && type
            })
          .sort(function(x, y) {
            const a = Boolean(x.link), b = Boolean(y.link);
            // Alphabetical sorting of designed components
            if(a && b) return x.name.localeCompare(y.name);
            // Sorting designed components first
            else if(a || b) return b - a;
            // Others placed "as is"
            return 0;
          })
        : [];
    },
  },

  watch: {
    filteredModules: {
      immediate: true,
      handler(current) {
        this.currentModule = (current && current.length && current[0].hash).toString();
      }
    }
  },

  methods: {
    convertLayout(string) {
      return string.replace(/./g, (ch) => this.map[ch] || ch)
    },

    hasType() {
      return this.modules[0].type !== undefined
    },

    changeType(typeName) {
      this.type = typeName;
      this.showTabs = false
    },

    bindRaf(fn, throttle) {
      var isRunning, that, args,
      run = function() {
        isRunning = false;
        fn.apply(that, args);
      };

      return function() {
        that = this;
        args = arguments;
        if (isRunning && throttle) return;
        isRunning = true;
        requestAnimationFrame(run);
      };
    },

    setPosition(gottaStick, calculatedTop) {
      this.$refs.container.classList.toggle('main__aside-container_sticky', gottaStick === true);
      this.$refs.container.classList.toggle('main__aside-container_stop', gottaStick === false);
      this.$refs.container.style.top = calculatedTop + 'px';
    },

    handleScroll() {
      // set current module
      let targetI, maxOffset = -Infinity;
      for (let i = this.$refs.module.length; i > 0; ) {
        // const offset = this.$refs.module[--i].$el.getBoundingClientRect().top
        const offset = this.$refs.module[--i].$el.offsetTop - window.scrollY;
        if (offset > maxOffset && offset < 400) {
          targetI = i;
          maxOffset = offset;
        }
      }
      this.currentModule = this.$refs.module[targetI].$refs.scrollPoint.id;

      // sticking sidebar
      var wrapperRect = this.$refs.wrapper.getBoundingClientRect();
      var neighbourRect = this.$refs.neighbour.getBoundingClientRect();

      if (neighbourRect.bottom > wrapperRect.bottom) {
        var containerRect = this.$refs.container.getBoundingClientRect();
        var windowHeight = document.documentElement.clientHeight, columnsHeightDiff;

        if (containerRect.height > windowHeight) {
          if (wrapperRect.top < this.scrollProgress) {
            if (wrapperRect.top + neighbourRect.height + 20 <= windowHeight) {
              columnsHeightDiff = Math.round(containerRect.height - neighbourRect.height);
              this.setPositionRaf(false, -columnsHeightDiff)
              this.Z = columnsHeightDiff;
            // 19 is padding-bottom - 1, 1 for collisions by scaled chrome
            } else if (containerRect.bottom + 19 <= windowHeight) {
              this.setPositionRaf(true, windowHeight - containerRect.height - 20)
              this.Z = 20 + wrapperRect.top + containerRect.height - windowHeight;
            } else {
              this.setPositionRaf(false, -this.Z)
            }
          } else if (wrapperRect.top < 20) {
            // 19 is padding-bottom - 1, 1 for collisions by scaled chrome
            if (containerRect.top >= 19) {
              this.setPositionRaf(true, 20)
              this.Z = wrapperRect.top - 20;
            } else {
              this.setPositionRaf(false, -this.Z)
            }
          } else {
            this.setPositionRaf(null, 0)
            this.Z = 0;
          }
          this.scrollProgress = wrapperRect.top;
        } else {
          columnsHeightDiff = Math.round(containerRect.height - neighbourRect.height);
          if (wrapperRect.top - 20 <= columnsHeightDiff) {
            this.setPositionRaf(false, -columnsHeightDiff)
          } else if (wrapperRect.top <= 20) {
            this.setPositionRaf(true, 20)
          } else {
            this.setPositionRaf(null, 0)
          }
        }
      }
    },

    makeReq(ctx) {
      const xhr = new XMLHttpRequest();
      const hash = location.hash.substring(1, location.hash.indexOf('&'));
      xhr.open("GET", "./uikit/index.json");
      xhr.onload = function () {
        if (this.status >= 200 && this.status < 300) {
          ctx.modules = JSON.parse(xhr.response);
          if(hash.length) {
            ctx.modules.some(element => {
              if(hash === element.hash) {
                ctx.type = element.type;
                return true;
              }
              return false;
            });
          }
        }
      };
      xhr.send();
    },
  },
};
</script>

<style lang="css">

.navigation__list {
  padding: 10px 0 15px;
}

.navigation__item {
  padding: 8px 30px 8px 28px;
}

@media (min-width:576px) and (max-width:991px) {
 .main__aside-container_sticky {
  padding-left:15px;
  padding-right:15px
 }
}

.doc {
  padding: 15px;
}

.search__doc-input {
  width: 100%;
  border-radius: 8px;
  padding-right: 15px;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23014898' d='M9.16667 15.8333C12.8486 15.8333 15.8333 12.8486 15.8333 9.16667C15.8333 5.48477 12.8486 2.5 9.16667 2.5C5.48477 2.5 2.5 5.48477 2.5 9.16667C2.5 12.8486 5.48477 15.8333 9.16667 15.8333Z' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath stroke='%23014898' d='M17.5 17.5L13.875 13.875' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
}

@media (max-width: 576px) {

  .doc-view {
    min-width: 290px;
  }

  .doc-module {
    overflow: visible;
  }

  .doc-title {
    padding-left: 10px;
    padding-right: 10px;
  }

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
</style>
